.cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}

.km-flat {
    font-size: .95em;
}

.km-listinset,
.km-listgroupinset {
    margin: 1em 2em;
}

#cleanilyApp .activities-view .km-listview,
#cleanilyApp .add-activity-view .km-listview,
#cleanilyApp .add-comment-view .km-listview {
    margin: 1em;
}

.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked {
    background: #4d4d4d;
}

.km-flat .km-loader {
    background-color: rgba(0, 0, 0, .75);
}

    .km-flat .km-loader::before {
        background: none;
    }

#cleanilyApp.km-flat,
#cleanilyApp.km-flat .km-navbar,
#cleanilyApp.km-flat .km-content,
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='week'] {
    font-family: 'Roboto', sans-serif;
}

    #cleanilyApp.km-flat,
    #cleanilyApp.km-flat .km-navbar,
    #cleanilyApp.km-flat .km-content {
        border: 0 none;
        color: #4d4d4d;
        background-color: #fff;
    }

        #cleanilyApp.km-flat .km-navbar {
            background-color: #fff;
        }

        #cleanilyApp.km-flat .km-content {
            color: #4d4d4d;
        }

#cleanilyApp .hide-text {
    text-indent: -999px;
    overflow: hidden;
}

.disabled {
    position: relative;
    display: block;
}

    .disabled:before {
        content: '';
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 0;
        left: -1px;
        z-index: 1;
    }

/* Forms */

::-webkit-input-placeholder {
    color: #4d4d4d;
}

:-moz-placeholder {
    color: #4d4d4d;
}

::-moz-placeholder {
    color: #4d4d4d;
}

:-ms-input-placeholder {
    color: #4d4d4d;
}

#cleanilyApp.km-flat form .km-list > li,
#cleanilyApp .btn {
    border-radius: 0;
}

#cleanilyApp.km-flat form .km-list > li {
    margin: 0 0 1em;
    padding: .4em 0;
    border-width: 0 0 1px;
    border-color: #c9c9c9;
    background-color: #fff;
}

#cleanilyApp.km-flat .km-list input[type='text']:not(.k-input),
#cleanilyApp.km-flat .km-list input[type='password'],
#cleanilyApp.km-flat .km-list input[type='email'],
#cleanilyApp.km-flat .km-list input[type='date'],
#cleanilyApp.km-flat textarea,
#cleanilyApp.km-flat select {
    position: static;
    width: 100%;
    height: 30px;
    font-size: 1rem;
}

#cleanilyApp.km-flat.km-on-wp .km-list input[type='text']:not(.k-input),
#cleanilyApp.km-flat.km-on-wp .km-list input[type='password'],
#cleanilyApp.km-flat.km-on-wp .km-list input[type='email'],
#cleanilyApp.km-flat.km-on-wp .km-list input[type='date'],
#cleanilyApp.km-flat.km-on-wp textarea,
#cleanilyApp.km-flat.km-on-wp select {
    padding: 0 .4em;
}

#cleanilyApp.km-flat select {
    padding: .4em .2em;
}

#cleanilyApp.km-flat.km-on-wp select {
    padding: 0 .2em;
}

/* Buttons */

#cleanilyApp .btn {
    position: relative;
    margin: 0 -1px;
    padding: .8em 0;
    border: 0 none;
    color: #fff;
    font-size: 1rem;
    background-color: #1976d2;
}

#cleanilyApp .disabled .btn {
    opacity: .35;
}

#cleanilyApp .btn-login {
    width: 40%;
    background-color: #31c078;
}

#cleanilyApp .login-info {
    width: 40%;
}

#cleanilyApp .activity-item {
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    border-radius: 25px;
}

#cleanilyApp .signup-view .btn-signup,
#cleanilyApp .btn-delete {
    display: block;
    text-align: center;
}

#cleanilyApp .btn-delete {
    background-color: #e84c3d;
}

#cleanilyApp .nav-button {
    border: 0 none;
    background-color: transparent;
}

#cleanilyApp .nav-button-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#cleanilyApp .nav-button-back {
    background-image: url(images/icon-arrow.png);
}

#cleanilyApp .nav-button-back-d {
    background-image: url(images/icon-arrow_dark.png);
}

#cleanilyApp .nav-button-comment {
    background-image: url(images/icon-comment.png);
}

#cleanilyApp .nav-button-delete {
    background-image: url(images/icon-delete.png);
}

#cleanilyApp .nav-button.km-state-active {
    color: #000;
}

#cleanilyApp .activity-view .user-status-wrp .km-navbar .nav-button,
#cleanilyApp .activity-view .user-status-wrp .km-navbar .nav-button.km-state-active {
    color: #fff;
}

/* App Header */

#cleanilyApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header {
    min-height: 20px;
    background-color: #4d4d4d;
}

    #cleanilyApp.km-flat.km-on-ios.km-black-translucent-status-bar .km-header .km-navbar {
        margin-top: 20px;
        padding-top: .5em;
    }

#cleanilyApp.km-flat .km-header .km-navbar {
    min-height: 3.15em;
}

#cleanilyApp.km-flat .km-header .km-navbar {
    border-bottom: 1px solid #c9c9c9;
}

#cleanilyApp.km-flat .km-header .km-view-title {
    font-size: 1.3em;
}

/* Welcome screen */

#cleanilyApp .app-name {
    margin-top: 1.5em;
}

#cleanilyApp .logo {
    width: 127px;
    height: 119px;
    background: transparent url(images/logo.png) ;

     background-size: 127px 119px;
    background-repeat: no-repeat;
    overflow: hidden;
}

#cleanilyApp .app-name small {
    display: block;
    font-weight: 400;
    font-size: 1.15rem;
}

#cleanilyApp .welcome-scrn .group-wrp {
    margin: 0 2em;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

    #cleanilyApp .welcome-scrn .group-wrp li {
        margin: 1.5em 0 0;
    }

        #cleanilyApp .welcome-scrn .group-wrp li:first-child {
            margin-top: 0;
        }

    #cleanilyApp .welcome-scrn .group-wrp .btn {
        display: block;
    }

    #cleanilyApp .welcome-scrn .group-wrp .oauth {
        margin-right: -1%;
        margin-left: -1%;
    }

        #cleanilyApp .welcome-scrn .group-wrp .oauth .oauth-item {
            float: left;
            width: 23%;
            margin: 0 1%;
        }

        #cleanilyApp .welcome-scrn .group-wrp .oauth .btn {
            height: 45px;
            padding-top: 1.1em;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            overflow: hidden;
        }

        #cleanilyApp .welcome-scrn .group-wrp .oauth .btn-facebook {
            background-image: url(images/logo-facebook.png);
        }

        #cleanilyApp .welcome-scrn .group-wrp .oauth .btn-google {
            background-image: url(images/logo-google.png);
        }

        #cleanilyApp .welcome-scrn .group-wrp .oauth .btn-windows {
            background-image: url(images/logo-windows.png);
        }

        #cleanilyApp .welcome-scrn .group-wrp .oauth .btn-adfs {
            background-image: url(images/logo-adfs.png);
        }

        #cleanilyApp .welcome-scrn .group-wrp .oauth .btn span,
        #cleanilyApp .welcome-scrn .group-wrp .btn-signup span {
            font-weight: 500;
            font-size: 1rem;
        }

    #cleanilyApp .welcome-scrn .group-wrp .btn-signup {
        border: 0 none;
        background-color: transparent;
    }

/* No API Key screen */

#cleanilyApp .noapikey-scrn h3 {
    line-height: 1.25;
}

#cleanilyApp .noapikey-scrn p {
    line-height: 1.5;
}

    #cleanilyApp .noapikey-scrn p strong,
    #cleanilyApp .noapikey-scrn p span {
        color: #000;
    }

    #cleanilyApp .noapikey-scrn p span {
        font-weight: 600;
    }

/* Signup */

#cleanilyApp.km-flat textarea {
    float: none;
    height: auto;
    margin: 0;
    resize: none;
}

#cleanilyApp .signup-view .signup-btn-wrp {
    margin: 0 2em;
}

#cleanilyApp .signup-view .select-wrp select {
    color: #4d4d4d;
}

#cleanilyApp .signup-view .select-wrp option:first-child {
    color: #b6c5c6;
}

/* Activities */

#cleanilyApp .activity-view .user-status-wrp .km-navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: .5em;
    background-color: transparent;
}

#cleanilyApp .activity-view .user-status-wrp .content {
    padding: 1em;
}

#cleanilyApp .activity-view .activity-content {
    padding: 0;
}

    #cleanilyApp .activity-view .activity-content > span {
        padding: 1em 0;
    }

#cleanilyApp .activity-view .user-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 1em .5em;
}

    #cleanilyApp .activity-view .user-info .person-name,
    #cleanilyApp .activity-view .user-info .time-span {
        color: #fff;
    }

    #cleanilyApp .activity-view .user-info .person-name {
        display: inline-block;
        float: left;
        margin: 1em;
    }

    #cleanilyApp .activity-view .user-info .time-span {
        display: inline-block;
        float: right;
        min-width: 80px;
        margin: 1.65em 0 0 0;
        font-size: .85em;
        text-align: right;
        text-transform: uppercase;
    }

#cleanilyApp .activities-view .km-list > li,
#cleanilyApp .activity-view .km-list > li {
   
}

#cleanilyApp .activities-view .km-list > li {
    position: relative;
    border-width: 0;
}

    #cleanilyApp .activities-view .km-list > li::before,
    #cleanilyApp .activity-view .km-list > li::before {
       /* content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 4.5em;
        display: block;
        height: 1px;
        border-bottom: 1px solid #eaeced;*/
    }

    #cleanilyApp .activities-view .km-list > li:first-child::before {
        display: none;
    }

#cleanilyApp .activity-view .km-list > li::before {
    left: 5em;
}

#cleanilyApp .activity-view .comments-wrp {
    margin-top: 1em;
}

#cleanilyApp .activities-view .km-list > li:first-child {
    padding-top: 0;
}

#cleanilyApp .user-avatar {
    float: left;
    width: 50px;
}

#cleanilyApp .activity-time {
    float: left;
    width: 100px;
    display: table;
    height: 75px;
}

#cleanilyApp .activity-time .activity-time-value {
    font-size: x-large;
    font-weight: bold;
    color: #1976d2;
    vertical-align:middle;
    display: table-cell;
    margin-right: 10px;
}

#cleanilyApp .user-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#cleanilyApp .activity-content,
#cleanilyApp .comment-content {
    position: relative;
    font-size: .85rem;
}

    #cleanilyApp .activity-content .picture {
        margin: 0 0 1em;
    }

    #cleanilyApp .person-name,
    #cleanilyApp .activity-content .time-span {
        font-weight: 600;
    }

#cleanilyApp .person-name {
    display: block;
    margin: 0 0 .5em;
    font-size: 1.1rem;
}

#cleanilyApp .person-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#cleanilyApp .activity-content .time-span {
    display: block;
    color: #a6a6a6;
    font-size: .7rem;
    text-transform: uppercase;
}

#cleanilyApp .activity-content .comment-content .time-span {
    top: 12px;
    font-size: .6rem;
}

#cleanilyApp .user-share-txt {
    display: block;
    margin-bottom: 1em;
    color: #4d4d4d;
    line-height: 1.5;
    word-wrap: break-word;
}

#cleanilyApp .activities-view .person-name,
#cleanilyApp .activity-view .person-name,
#cleanilyApp .add-activity-view .person-name,
#cleanilyApp .add-comment-view .person-name {
    margin: .85em 0 1em;
}

#cleanilyApp .add-activity-view .person-name,
#cleanilyApp .add-comment-view .person-name {
    padding-left: .75em;
}

#cleanilyApp .activity-view .picture-wrp {
    position: relative;
    height: 258px;
    margin: 0 auto;
    text-align: center;
    background: transparent url(images/default-image.jpg) no-repeat 50% 50%;
    background-size: 100% 258px;
    overflow: hidden;
}

    #cleanilyApp .activity-view .picture-wrp::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 258px;
        background: transparent url(images/background-picture.png) repeat-x 0 0;
    }

#cleanilyApp .activity-view .picture {
    position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#cleanilyApp .add-activity-view .km-leftitem,
#cleanilyApp .add-comment-view .km-leftitem {
    left: 1em;
}

#cleanilyApp .add-activity-view .km-rightitem,
#cleanilyApp .add-comment-view .km-rightitem,
#cleanilyApp .activity-view .km-rightitem {
    right: 1em;
}

#cleanilyApp.km-black-translucent-status-bar .km-navbar .km-leftitem,
#cleanilyApp.km-black-translucent-status-bar .km-navbar .km-rightitem {
    font-size: .85em;
    text-transform: uppercase;
}

    #cleanilyApp.km-black-translucent-status-bar .km-navbar .km-leftitem .fa,
    #cleanilyApp.km-black-translucent-status-bar .km-navbar .km-rightitem .fa {
        font-size: 1.8em;
    }

#cleanilyApp .k-invalid-msg {
    display: none;
    margin: 1rem 0 0;
    padding: 0;
    color: #e84c3d;
}

#cleanilyApp.km-flat.km-on-wp .activities-view,
#cleanilyApp.km-flat.km-on-wp .activity-view,
#cleanilyApp.km-flat.km-on-wp .add-activity-view,
#cleanilyApp.km-flat.km-on-wp .add-comment-view {
    margin-top: 30px;
}

/* Retina Images */

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    #cleanilyApp .app-name {
        background-image: url(images/logo-friends@2x.png);
        background-size: 127px 119px;
    }

    #cleanilyApp .nav-button,
    #cleanilyApp .welcome-scrn .group-wrp .oauth .btn {
        background-size: 40px 40px;
    }

    #cleanilyApp .nav-button-back {
        background-image: url(images/icon-arrow@2x.png);
    }

    #cleanilyApp .nav-button-back-d {
        background-image: url(images/icon-arrow_dark@2x.png);
    }

    #cleanilyApp .nav-button-comment {
        background-image: url(images/icon-comment@2x.png);
    }

    #cleanilyApp .nav-button-delete {
        background-image: url(images/icon-delete@2x.png);
    }

    #cleanilyApp .welcome-scrn .group-wrp .oauth .btn-facebook {
        background-image: url(images/logo-facebook@2x.png);
    }

    #cleanilyApp .welcome-scrn .group-wrp .oauth .btn-google {
        background-image: url(images/logo-google@2x.png);
    }

    #cleanilyApp .welcome-scrn .group-wrp .oauth .btn-windows {
        background-image: url(images/logo-windows@2x.png);
    }

    #cleanilyApp .welcome-scrn .group-wrp .oauth .btn-adfs {
        background-image: url(images/logo-adfs@2x.png);
    }
}

/*Override*/
.km-flat .km-list>li {
    border-style: none;
}