<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.Activities" data-show="app.Activities.show">
    <div data-role="header">
    </div>
    <a data-role="button" style="margin-right: 15px; margin-top: 10px;float: right" class="km-primary" data-click="app.Activities.logout">Logout</a>
    <div align="center" style="margin-top: 50px; margin-bottom: 20px;">
        <div class="logo"></div>
    </div>
    <h2>To start editing, find a checklist:</h2>
    <div class="checklist-search">
        <span class="k-textbox k-space-left" style="width: 100%; margin-left: 20px; margin-bottom: 20px; margin-top: 20px; width: 70%; height 35px; color: #A6A6A6; font-size: 16px;">
                    <input type="search" id="activities-search" placeholder="type the customer lastname or address line 1 to find a checklist"/>
                    <a href="#" class="k-icon k-i-search" style="left: 14px">&nbsp;</a>
                </span>
    </div>
    <!--<ul id="activities-listview" data-style="inset" data-role="listview" data-template="activityTemplate" data-bind="source: activities"></ul>-->
    <ul id="activities-listview" data-style="inset" data-role="listview"></ul>
    <p id="no-activities-span" hidden="hidden" class="no-items-msg">
        <b>You have no activity yet.</b>
        <br>
        <br>Tap on the Go! and create new checklist.
    </p>
    <p>
        <span style="font-size: larger">Create New Checklist</span>
        <span>
            <select style="width: auto !important" id="select-clean">
                <option value="deep">Deep cleaning</option>
                <option value="spring">Spring cleaning</option>
                <option value="regular">Regular cleaning</option>
                <option value="one">One off cleaning</option>
            </select>
        </span>
        <span onclick="app.Activities.activitySelected(this)" style="width: 30%">
            <a data-role="button" class="btn" style="padding: 0.8em!important">Go!</a>
        </span>
    </p>
</div>
<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="activityTemplate">
    <div onclick="app.Activities.activitySelected(${address.id},${address.user.id})" class="activity-item">
        <div class="activity-content" align="center">
            <h2 class="person-name">${address.user.name}</h2>
            <a class="user-share-txt">${address.address_line_1}</a>
            <a>Checklist_type</a>
        </div>
    </div>
</script>