<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.Activities" data-show="app.Activities.show">
    <div data-role="header">
        <div data-role="navbar">
            Welcome to Cleanily app
            <a class="nav-button" data-align="right" data-role="backbutton" data-click="app.Activities.logout">Logout</a>
            <!--<a class="nav-button" data-align="right" data-role="button" href="views/addActivityView.html">Add</a>-->
        </div>
    </div>
    <h3>Customer Visits for:</h3>
    <h2 data-bind='text: currentDate'></h2>

    <!--<ul id="activities-listview" data-style="inset" data-role="listview" data-template="activityTemplate" data-bind="source: activities"></ul>-->
    <ul id="activities-listview" data-style="inset" data-role="listview"></ul>
    <p id="no-activities-span" hidden="hidden" class="no-items-msg">
        <b>You have no activity yet.</b><br><br>Tap on the Go! and create new checklist.
    </p>
    <p>
        <span style="font-size: larger">Create New Checklist</span>
        <span>
            <select style="width: auto !important" id="select-clean">
                <option value="deep">Deep cleaning</option>
                <option value="spring">Spring cleaning</option>
                <option value="regular">Regular cleaning</option>
                <option value="one">One off cleaning</option>
            </select>
        </span>
        <span onclick="app.Activities.activitySelected(this)" style="width: 30%">
            <a data-role="button" class="btn" style="padding: 0.8em!important">Go!</a>
        </span>
    </p>

</div>

<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="activityTemplate">
    <div onclick="app.Activities.activitySelected(${Id})" class="activity-item">
        <div class="activity-time">
            <span class="activity-time-value">${Time}</span>
        </div>

        <div class="activity-content">
            <h2 class="person-name">${CustomerName}</h2>
            <a class="user-share-txt">${Address}</a>
        </div>
    </div>
</script>
