<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.Activities" data-show="app.Activities.show">
    <div data-role="header">
    </div>
    <div  align="center" style="margin:5px">
        <span style="font-weight: bold;font-size: x-large">Welcome to Cleanily app</span>
        <a data-role="button" style="margin-right: 15px; float: right" class="km-primary" data-click="app.Activities.logout">Logout</a>
    </div>
    <h3>Find a checklist:</h3>
    <input type="search" name="" id="activities-search" placeholder="type the customer lastname or address line 1 to find a check list" style="margin-left: 16px;width: 70%;" />

    <!--<ul id="activities-listview" data-style="inset" data-role="listview" data-template="activityTemplate" data-bind="source: activities"></ul>-->
    <ul id="activities-listview" data-style="inset" data-role="listview"></ul>
    <p id="no-activities-span" hidden="hidden" class="no-items-msg">
        <b>You have no activity yet.</b><br><br>Tap on the Go! and create new checklist.
    </p>
    <p>
        <span style="font-size: larger">Create New Checklist</span>
        <span>
            <select style="width: auto !important" id="select-clean">
                <option value="deep">Deep cleaning</option>
                <option value="spring">Spring cleaning</option>
                <option value="regular">Regular cleaning</option>
                <option value="one">One off cleaning</option>
            </select>
        </span>
        <span onclick="app.Activities.activitySelected(this)" style="width: 30%">
            <a data-role="button" class="btn" style="padding: 0.8em!important">Go!</a>
        </span>
    </p>

</div>

<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="activityTemplate">
    <div onclick="app.Activities.activitySelected(${address.id},${address.user.id})" class="activity-item">
        <div class="activity-content" align="center">
            <h2 class="person-name">${address.user.name}</h2>
            <a class="user-share-txt">${address.address_line_1}</a>
            <a>Checklist_type</a>
        </div>
    </div>
</script>
