<div data-role="view" id="single-activity" data-layout="default" class="activity-view" data-init="app.Activity.init" data-show="app.Activity.show">
    <div data-role="header"></div>

    <div style="padding: 10px">
        <!--<div data-role="navbar">
            <a class="nav-button nav-button-icon nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
            <a class="nav-button nav-button-icon nav-button-comment hide-text" data-align="right" data-role="button" href="views/addCommentView.html">Add Comment</a>
            <a class="nav-button nav-button-icon nav-button-delete hide-text" data-align="right" data-role="button" data-bind="visible: isVisible" data-click="app.Activity.remove">Delete</a>
        </div>-->
        <p>
            <span style="font-size: larger">Regular cleaning checklist for:</span>
            <span style="font-size: x-large; font-weight: Bold" data-bind="text: customer.CustomerName"></span>
        </p>
        <p>
            <input type="text" readonly="readonly" data-bind="value: customer.Address" style="width: 75%" />
        </p>
        <p>
            <span style="font-size: larger">Area Type</span>
        </p>
        <ul id="areaTypeList"></ul>
        <ul id="areaTypeDropList"></ul>
        <a data-role="button" style="margin:5px" class="km-primary">Save</a>
    </div>
</div>

<style>
    #areaTypeDropList {
        min-height: 200px;
        /*width: 300px;
        height: 280px;*/
        border: 1px solid black;
        border-radius: 1px;
    }

    #areaTypeList {
        width: 300px;
        /*border: 3px solid black;
        border-radius: 3px;*/
    }

    .item {
        /*margin: 5px;*/
        padding: 5px;
        text-align: center;
        border: 2px solid #000000;
        border-radius: 3px;
    }
</style>
<!-- Comments Template -->
<script type="text/x-kendo-template" id="commentsTemplate">
    <div class="user-avatar">
        <img src="#: User().PictureUrl #" alt="#: User().DisplayName #">
    </div>
    <div class="comment-content">
        <h2 class="person-name">#: User().DisplayName #</h2>
        <a class="user-share-txt">#: Comment #</a>
    </div>
</script>

<!--<ul data-role="listview" data-style="inset" data-transition="overlay:zoom" class="singleLine">
    <li data-bind="click: localCustomerClick">
        <a data-retailerid="#:RetailerID#">
            <span class="retailerLogo" id="#:RetailerID#logoId" style="background-image:url(#: Retailer.LogoUrl #)"></span>
            <div class='inlineIconLabel'>
                <h3>#: Retailer.Name #</h3>
            </div>
        </a>
    </li>
</ul-->

<script type="text/x-kendo-template" id="areaTypeDropTemplate">
    ${name}
    <a data-role="button" class="km-button-right" style="float: right">Edit</a>
</script>
<script type="text/x-kendo-template" id="areaTypeDropHeaderTemplate">
   ${value}
    <span  style="float: right;margin-right:10px">+</span>
</script>